@{
    ViewData["Title"] = "Home Page";
}

<div class="hero_bg_box">
    <img src="images/hero-bg.png" alt="">
</div>

<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1 class="logo">
                                    Somos Hospital Virtual
                                </h1>
                                <p>
                                    Una solución para pacientes, personas sanas, profesionales de la salud, instituciones médicas, obras sociales, prepagas y empresas.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Leer Más
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Acceder a un médico ahora es más simple
                                </h1>
                                <p>
                                    Somos una plataforma online que te conecta fácilmente con profesionales de todas las especialidades médicas. Para estar bien cuidado, donde quieras que estés.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Leer Más
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Compartiendo tus estudios o chateando con Tu médico solucioná tus dudas.
                                </h1>
                                <p>
                                    Sin distancias. Sin traslados. Sin demoras. Ahora los especialistas llegan a vos.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Leer Más
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>

</section>
<!-- end slider section -->
